<header>
    <h1>Footman</h1>
    <nav>
        <section>
            <a href="/">Home</a>
            <a href="/competition/index">Competitions</a>
        </section>
        <section>
          <a href="/competition/new">Add Competition</a>
          <a href="/player/new">Add Player</a>
          <a href="/team/new">Add Team</a>
        </section>
      </nav>
</header>