<header>
    <h1>Footman</h1>
    <nav>
        <section>
            <a href="/"><svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48" aria-labelledby="home" role="img"><title id="home">Navigate to Homepage</title><path class="home" d="M160 936V456l320-240 320 240v480H560V656H400v280H160Z"/></svg></a>
        </section>
        <section class="addLinks">
            <button><svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48" aria-labelledby="addToggler" role="img"><title id="addToggler">Toggle add item dropdown</title><path class="add" d="M450 856V606H200v-60h250V296h60v250h250v60H510v250h-60Z"/></svg></button>
            <div class="hideAddLinks">
                <a href="/competition/new">Add Competition</a>
                <a href="/player/new">Add Player</a>
                <a href="/team/new">Add Team</a>
            </div>
        </section>
      </nav>
</header>