
<% 
const nationalTeams = {
AFC : [
"Afghanistan",
"Australia",
"Bahrain",
"Bangladesh",
"Bhutan",
"Brunei Darussalam",
"Cambodia",
"China PR",
"Chinese Taipei",
"Guam",
"Hong Kong",
"India",
"Indonesia",
"IR Iran",
"Iraq",
"Japan",
"Jordan",
"Korea DPR",
"Korea Republic",
"Kuwait",
"Kyrgyz Republic",
"Laos",
"Lebanon",
"Macau",
"Malaysia",
"Maldives",
"Mongolia",
"Myanmar",
"Nepal",
"Northern Mariana Islands",
"Oman",
"Pakistan",
"Palestine",
"Philippines",
"Qatar",
"Saudi Arabia",
"Singapore",
"Sri Lanka",
"Syria",
"Tajikistan",
"Thailand",
"Timor-Leste",
"Turkmenistan",
"United Arab Emirates",
"Uzbekistan",
"Vietnam",
"Yemen",
],

CAF : [
"Algeria",
"Angola",
"Benin",
"Botswana",
"Burkina Faso",
"Burundi",
"Cameroon",
"Cape Verde",
"Central African Republic",
"Chad",
"Comoros",
"Congo",
"Congo DR",
"Côte d'Ivoire",
"Djibouti",
"Egypt",
"Equatorial Guinea",
"Eritrea",
"Eswatini",
"Ethiopia",
"Gabon",
"Gambia",
"Ghana",
"Guinea",
"Guinea-Bissau",
"Kenya",
"Lesotho",
"Liberia",
"Libya",
"Madagascar",
"Malawi",
"Mali",
"Mauritania",
"Mauritius",
"Morocco",
"Mozambique",
"Namibia",
"Niger",
"Nigeria",
"Réunion",
"Rwanda",
"São Tomé and Príncipe",
"Senegal",
"Seychelles",
"Sierra Leone",
"Somalia",
"South Africa",
"South Sudan",
"Sudan",
"Tanzania",
"Togo",
"Tunisia",
"Uganda",
"Zambia",
"Zanzibar",
"Zimbabwe",
],

CONCACAF : [
"Anguilla",
"Antigua and Barbuda",
"Aruba",
"Bahamas",
"Barbados",
"Belize",
"Bermuda",
"Bonaire",
"British Virgin Islands",
"Canada",
"Cayman Islands",
"Costa Rica",
"Cuba",
"Curaçao",
"Dominica",
"Dominican Republic",
"El Salvador",
"French Guiana",
"Grenada",
"Guadeloupe",
"Guatemala",
"Guyana",
"Haiti",
"Honduras",
"Jamaica",
"Martinique",
"Mexico",
"Montserrat",
"Nicaragua",
"Panama",
"Puerto Rico",
"Saint Kitts and Nevis",
"Saint Lucia",
"Saint Martin",
"Saint Vincent and the Grenadines",
"Sint Maarten",
"Suriname",
"Trinidad and Tobago",
"Turks and Caicos Islands",
"United States",
"US Virgin Islands",
],

CONMEBOL : [
"Argentina",
"Bolivia",
"Brazil",
"Chile",
"Colombia",
"Ecuador",
"Paraguay",
"Peru",
"Uruguay",
"Venezuela",
],

OFC : [
"American Samoa",
"Cook Islands",
"Fiji",
"Kiribati",
"New Caledonia",
"New Zealand",
"Papua New Guinea",
"Samoa",
"Solomon Islands",
"Tahiti",
"Tonga",
"Tuvalu",
"Vanuatu",
],

UEFA : [
"Albania",
"Andorra",
"Armenia",
"Austria",
"Azerbaijan",
"Belarus",
"Belgium",
"Bosnia and Herzegovina",
"Bulgaria",
"Croatia",
"Cyprus",
"Czech Republic",
"Denmark",
"England",
"Estonia",
"Faroe Islands",
"Finland",
"France",
"Georgia",
"Germany",
"Gibraltar",
"Greece",
"Hungary",
"Iceland",
"Israel",
"Italy",
"Kazakhstan",
"Kosovo",
"Latvia",
"Liechtenstein",
"Lithuania",
"Luxembourg",
"Malta",
"Moldova",
"Montenegro",
"Netherlands",
"North Macedonia",
"Northern Ireland",
"Norway",
"Poland",
"Portugal",
"Republic of Ireland",
"Romania",
"Russia",
"San Marino",
"Scotland",
"Serbia",
"Slovakia",
"Slovenia",
"Spain",
"Sweden",
"Switzerland",
"Türkiye",
"Ukraine",
"Wales",
]

}
 %>

<select id="nationality" name="nationality">
    <% for(let group of Object.keys(nationalTeams){ %>
        <optgroup label="<%= group %>">
            <% for(let team of nationalTeams[group]){ %>
            <option value="<%= team %>" <% if(typeof nationality !== 'undefined' && nationality === team){%> selected='true' <%}%> <%= team %></option>
            <%}%>
        </optgroup>
    <%}%> 
</select>

