<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> I am <%= name %></h1>
    <p>I play for <%= teamName %> and I  am <%= nationality %></p>
  </body>
</html>