<!DOCTYPE html>
<html>
  <head>
    <title>Footman: <%= name %></title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= name %></h1>
    <section>
        <h2>Competitions</h2>
        <% if( (typeof competitions !== 'undefined') && competitions.length > 0){
            competitions.forEach(competition => {%>
                <p><%=competition %></p>
            <%})
              }    
            else {%>
                <div>
                    <span>No competitions available at the moment.</span>
                </div>
            <%}%>
    </section>
    <section>
        <h2>Players</h2>
        <% if( (typeof players !== 'undefined') && players.length > 0){
            players.forEach(player => {%>
                <p><%=player %></p>
            <%})
              }    
            else {%>
                <div>
                    <span>No players available at the moment.</span>
                </div>
            <%}%>
    </section> 
  </body>
</html>