*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: #DBE8D8;
  display: flex;
  flex: 1;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  gap: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  min-height: 100vh;

}

aside {
  margin: 1rem;

 
}

aside a, aside button {
  border: 1px solid #fede00;
  padding: 0.75rem;
  

}

a, button {
  border: none;
  color: black;
  cursor: pointer;
  letter-spacing: inherit;
  outline: none;
  text-decoration: underline;
  
}

aside a, aside button, form button, .freefeatured a, .recommended a, .revealAddLinks a { 
  background: #59981A;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: inherit;
  padding: 0.25rem 1rem;
  text-decoration: none;
}

div {
  min-width: min(80vw,700px);
  margin: 1rem 0;
}


 header {
   background: #0A7029;
   display: flex;
   justify-content: space-around;
   min-width: 100%;
   padding: 2rem 0;

}

header a, header button {
  background: none;
  border: none;
  border-radius: 0rem;
  padding: 0;
}


h1 {
  font-size: 2.25rem;
  letter-spacing:0.5rem;
  text-shadow: 2px 2px 5px #C8DF52;
  
}

h2, h3, h4, h5 {
  margin: 0.25rem;
  
}

hr {
  margin: 1rem;
  color: #fede00
}

input {
  border: none;
  border-radius: 5px;
  color: #0A7029;
}

input:focus{
  outline: 2px solid #0A7029;
  
}

main {
  padding: 1rem;
}

nav {
  display:flex;
  align-items: flex-start;
}


select {
  background-color: inherit;
  border: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
  outline: none;

}

select:disabled{
  opacity: 0.2;
}


.addLinks {
  display:flex;
  justify-content: flex-end;
  margin: 0 0.5rem;
  position: relative;
}

.bckwdrotate {
  animation: brotate 0.5s linear normal both}


.fwdrotate {
  animation: frotate 0.5s linear normal both;

}

.gold {
  fill: #fede00;

}

.hidden, .hideAddLinks {
  display: none;
}

.revealAddLinks {
    background: #0A7029;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px #59981A;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: max-content;
    position: absolute;
    margin: 1rem 0;
    padding: 2rem;
    top: 100%
    
}


@keyframes brotate {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(-45deg)
  }
  100% {
    transform: rotate(-90deg)
  }

}

@keyframes frotate {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(45deg)
  }
  100% {
    transform: rotate(90deg)
  }

}
